<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Media Demonstration</title>
  </head>
  <body>
  <div id="container" >
    <div id="header">
      <h1 style="horiz-align: center">Media Demonstration</h1>
    </div>
    <div id="video" style="align-content: center;float: left">
      <h1 style="horiz-align: center">Video</h1>
      <img src="{{ url_for('video_feed') }}" width="525" height="525">
    </div>
    <div id="image" style="align-content: center;float: left;margin-left: 250px">
      <h1 style="horiz-align: center">Image</h1>
      <img src="{{ url_for('static', filename= './images/test.jpg',_t=val1) }}" width="525" height="525"/>
    </div>
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
版权 © qnlm.cn</div>
  </div>
  </body>
</html>
